/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

@font-face {
    font-family: "norse-bold";
    src: url("fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
}

#splash-image-wapper {
    /* Add background image, backup background color then center it */
    background-image: url("images/preethi-viswanathan-unsplash.jpg");
    background-color: green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

#content-wrapper {
    background-color: beige;
    flex-basis: 75%;
    flex-grow: 1;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    margin-top: 25vh;
    padding: 13px 0;
    font: 5em "norse-bold";
}

.logo-container > img {
    height: 1.3em;
}

.image-credit {
    text-align: center;
    margin-bottom: 3vh;
}

.image-credit > a {
    color: white;
    text-decoration-color: white;
}